colorama==0.4.6
colorlog==6.9.0
datasets==4.1.1
fastapi==0.118.0
#faster_tokenizer==0.2.0
langchain_community==0.3.30
langchain_core==0.3.78
langchain_deepseek==0.1.4
langchain_neo4j==0.5.0
neo4j==5.28.2
numpy==2.3.3
onnx==1.19.0
onnxconverter_common==1.16.0
onnxruntime==1.22.1
packaging==25.0
#paddle==1.0.2
#paddlenlp==2.8.1
pydantic==2.11.10
python-dotenv==1.1.1
Requests==2.32.5
sentencepiece==0.2.1
six==1.16.0
starlette==0.48.0
tensorflow==2.20.0
#torch==2.8.0+cu126
tqdm==4.67.1
tf-keras>=2.15.0  # 添加这一行，安装兼容的 tf-keras（Keras 2 的兼容版本）
transformers==4.41.0  # 确保 transformers 版本和 tf-keras 兼容
#transformers==4.55.0
uvicorn==0.37.0
sentence-transformers==5.1.1